@charset "utf-8";
/* CSS Document */

.round-button {
  display: inline-block;
  background-color: #fcf0fc;
  color: #995664;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

/* NEW NAVBAR STYLE FOR INNER PAGES */
.top-nav {
  background-color: #fcf0fc;
  text-align: center;
  padding: 20px 0;
}

.top-nav a {
  color: #995664;
  text-decoration: none;
  margin: 0 25px;
  font-size: 18px;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  font-weight: 500;
  transition: color 0.3s;
}

.top-nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #4caf50;
  transition: width 0.3s;
}

.top-nav a:hover {
  color: #a396a1;
}

.top-nav a:hover::after {
  width: 100%;
}
